body {
  padding: 3.75em;
  margin: 0;
}

section {
  height: 100%;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  color: gray;
}

figure {
  display: flex;
  align-items: center;
  min-width: 415px;
  min-height: 185px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

figure img {
  padding: 25px;
  height: 125px;
  width: 125px;
  display: flex;
  flex-direction: row;
}

figcaption {
  height: 100%;
}
